body {
	background-color: black;
	color: white;
}

.wrapper {
	max-width: 100%;
	padding: 0 10% 0 10%;

	@include media-breakpoint-up(md) {
		max-width: 80%;
	};

	@include media-breakpoint-up(lg) {
		max-width: 60%;
		padding-right: 0;
	};
}

section#header {
	background-color: white;
	color: black;
	padding: 8rem 0 2rem;

	h1 {
		margin: 0;
		line-height: 1;
	}
}

section#content {
	padding: 2rem 0;
}
