* {
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

textarea {
  resize: none;
}

::selection {
  color: white;
}

input,
textarea {
  box-shadow: inset 0 1px 1px rgba(black, .1);
}
